.logged-in-text{
    font-size:10px;
    a {
        font-size:14px;
        color: white;
    }
}

.navbar-brand {
    // color: #eee !important;
    color: hsl(239, 75%, 40%) !important;
    text-transform: none;
    font-size: 150%;
}

#icon {
    margin-left: 3px;
}

#login-expand-btn {
    border: none;
}
#hide-login-x {
    cursor: pointer;
    border: none !important;
    color: rgb(202, 26, 26);
    margin: 5px;
}