.logged-in-text{
    font-size:16px;
    margin-top: 12px;
    a {
        font-size:16px;
    }
}

.navbar-brand {
    // color: #eee !important;
    color: hsl(239, 75%, 40%) !important;
    text-transform: none;
    font-size: 150%;
}

#icon {
    margin-left: 3px;
}

.btn {
    color: #28a745;
    background: none;
    border: 1px solid #28a745;
    transition: 0.15s ease-in-out;
}

.btn:hover {
    color: whitesmoke;
    background: #28a745;
}

.page-btn {
    color:hsl(239, 75%, 40%);
    background: none;
    border: 1px solid hsl(239, 75%, 40%);
}

.page-btn:hover {
    color: whitesmoke;
    background: hsl(239, 75%, 40%);
}

#login-expand-btn {
    border: none;
}

#hide-login-x {
    cursor: pointer;
    border: none !important;
    color: rgb(202, 26, 26);
    margin: 5px;
}